/* QUI è TUTTO L'HEADER */
body {
    margin: 0 auto; /* per centrare quel contenitore nella pagina */
    font-family: "Chivo", sans-serif;
    font-size: 20px;
}

main{
    max-width: 1000px;
    margin: 0 auto; /* per centrare quel contenitore nella pagina */
}

.logo {
    font-size: 28px;
    font-weight: bolder;
}

header{
    position: sticky;
    top: 0;
    background-color: #04544B;
    z-index: 1000;
}

header.contenitore {
    display: flex;
    padding: 0px;
    margin: 0px;
    justify-content: space-between;
    background-color: #04544B;
}

header.contenitore a {
    text-decoration: none;
    color: #FDEDF0;
    margin: 0px 20px;
}

header.contenitore a:hover {
    text-decoration: underline;
}

/* QUI I TRE LINK */

.menu {
    list-style: none;
    display: flex;
    gap: 15px;
    margin-top: 30px;
}

/* QUI I TRE LINK */

/* QUI è TUTTO L'HEADER */


.iniziosito {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
}

.hero {
    max-width: 500px;
    font-size: 50px;
}

.introduzione-parchi {
    max-width: 500px;
}



.item a {
    text-decoration: none;
    color: #04544B;
}

.item a:hover {
    text-decoration: underline;
}


/* ELEMENTI IN OVERLAY */
.overlay {
    position: relative;
}
.testo-overlay {
    position: absolute;
    background-color: rgba(4,84,75,0.5);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: end;
    text-align: center;
    justify-content: right;
}
.testo-overlay a {
    text-decoration: none;
    color: #FDEDF0;
}
.testo-overlay a:hover {
    text-decoration: underline;
}
.testo-overlay h2 {
    font-size: 48px;
    padding-right: 30px;
}
.image-overlay img {
    height: 300px;
    width: 100%;
    object-fit: cover;
}
.scrittainmezzo p {
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: 36px;
}
/* ELEMENTI IN OVERLAY */


/*  HERO PARCHI*/
.hero-deiparchi {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-left: 3px;
}
.hero-deiparchi h2 {
    max-width: 500px;
    font-size: 80px;
    margin-top: 40px; 
    margin-left: 5px;
    color: #04544B;

}
.hero-deiparchi p {
    max-width: 500px;
    padding: 30px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.freccia-parchi {
    display: flex;
    font-size: 50px;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    color: #04544B;
}
/*  HERO PARCHI*/



/* CARD */
/* Stili per la sezione */
.cardparchi {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 40px;
}

/* Stili per la card */
.cardparchi .grid {
    width: 300px;
    height: 300px;
    border: 2px solid #04544B;
    border-radius: 15px;
}


/* Immagine all'interno della card */
.cardparchi .grid img {
    width: 300px;
    height: 150px;
    object-fit: cover;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}

/* Paragrafo con il nome del parco */
.cardparchi .grid p {
    padding: 20px;
    font-weight: bold;
    text-align: left;
    font-size: 28px;
    margin: 0px;
}
/* CARD */


/* ATTIVITà ED ESPERIENZE */
.testo-iniziale-attività h2 {
    font-size: 70px;
    margin-top: 40px; 
    margin-left: 5px;
    color: #04544B;
} 

.testo-iniziale-attività p {
    font-size: 20px;
    max-width: 90%;
    margin-left: 10%;
}

.associate {
    font-size: 50px;
    margin-top: 40px; 
    margin-left: 5px;
    color: #04544B;  
}

/* ESCURSIONI */
.escursioni {
    display: flex;
    justify-content: space-between;
}
.escursioni h3 {
    max-width: 500px;
    font-size: 35px;
 color: #04544B;
}
.escursioni p {
    max-width: 500px;
    padding: 20px;
    margin-bottom: 40px;
}
.imgtrekking {
    max-width: 1000px;

}
/* ESCURSIONI */


/* VISITE GUIDATE */
.visiteguidate {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.visiteguidate h3 {
    max-width: 500px;
    font-size: 35px;
 color: #04544B;
}
.visiteguidate p {
    max-width: 500px;
    padding: 20px;
    margin-bottom: 40px;
}
.imgguida {
    max-width: 1000px;
}
/* VISITE GUIDATE */


.ariaaperta {
    font-size: 50px;
    margin-top: 40px; 
    margin-left: 5px;
    color: #04544B;  
}


/* ARRAMPICATA */
.arrampicata {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 0%;
}
.arrampicata h3 {
    max-width: 300px;
    color: #04544B;
}
.arrampicata p {
    max-width: 400px;
}
.arrampicata img {
    max-width: 300px;
    margin-top: 10px;
}
/* ARRAMPICATA */



/* BIKE */
.bike {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 0%;
    margin-top: 30px;
}
.bike h3 {
    max-width: 300px;
    color: #04544B;
}
.bike p {
    max-width: 400px;
}
.bike img {
    max-width: 300px;
    margin-top: 10px;
}
/* BIKE */



/* CANOA */
.canoa {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 0%;
    margin-top: 30px;
}
.canoa h3 {
    max-width: 150px;
    color: #04544B;
}
.canoa p {
    max-width: 400px;
}
.canoa img {
    max-width: 300px;
    margin-top: 10px;
}
/* CANOA */



/* SCII */
.scii {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 0%;
    margin-top: 30px;
}
.scii h3 {
    max-width: 150px;
    color: #04544B;
}
.scii p {
    max-width: 400px;
}
.scii img {
    max-width: 300px;
    margin-top: 10px;
}
/* SCII */


/* Birdwatching */
.bird {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.bird h3 {
    max-width: 500px;
    font-size: 35px;
 color: #04544B;
}
.bird p {
    max-width: 500px;
    padding: 20px;
    margin-bottom: 40px;
}
.imgbird {
    max-width: 1000px;
}
/* Birdwatching */


/* BORGHI */
.borghi {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.borghi h3 {
    max-width: 500px;
    font-size: 35px;
 color: #04544B;
}
.borghi p {
    max-width: 500px;
    padding: 20px;
    margin-bottom: 40px;
}
.imgborghi {
    max-width: 1000px;
}
/* BORGHI */

/* ATTIVITà ED ESPERIENZE */


/* PAGINA SPECIFICA DEI PARCHI */
.hero-in-prc{
    font-size: 50px;
    margin-top: 40px; 
    margin-left: 5px;
    color: #04544B;
}
.parco-dettaglio h3{
    font-style: italic;
    font-weight: bold;
    font-size: 30px;
    color: #04544B;
}    
.testo-in-prc h2{
    margin-top: 80px;
    margin-bottom: 0px;
    color: #04544B;
}
.testo-in-prc p{
    max-width: 90%;
    margin-left: 10%;
}
/* PAGINA SPECIFICA DEI PARCHI */


.lista-parchi{
    border: 2px solid #04544B;
    border-radius: 20px;
    padding: 20px;
    margin-top: 70px;
}
.lista-parchi h3{
    margin: 0;
    margin-bottom: 20px;
}
.lista-parchi ul {
    display: flex;
    flex-direction: row;
    gap: 30px;
    list-style-type: none;
    padding: 0%;
    margin: 0%;
}
.lista-parchi li{
    color: #04544B;
}
.lista-parchi li a{
    text-decoration: none;
    color: #04544B;
    font-weight: bold;
}
.lista-parchi li a:hover{
    text-decoration: underline;
}

.cardparchi a.grid {
    text-decoration: none;
    color: inherit;
}

.cardparchi a.grid:hover {
    text-decoration: underline;
}


/* FOOTER */
footer {
    display: flex;
    gap: 30px;
    align-items: center;
    font-size: 16px;
    padding: 20px;
    justify-content: center;
    color: #F07354;
}

footer p:hover {
    text-decoration: underline;
}
/* FOOTER */


/* PER IL RESPONSIVE */
@media (max-width: 700px) and (max-width: 768px){
    
    section {
        margin-bottom: 40px;
        padding: 0 10px;
    }
    
    header{
        flex-direction: column;
        align-items: center;
    }
    .logo{
        align-items: center;
        text-align: center;
    }
    .menu{
        font-size: 18px;
        text-align: center;
        align-items: center;
        margin: 0px 0px;
        padding: 0%;
        gap: 1px;
        text-decoration: underline;
        margin-bottom: 40px;
    }

    main{
        display: flex;
        max-width: 90%;
        flex-direction: column;
        align-items: center;
        text-align: left;
    }
    .partealta-home{
        flex-direction: column;
        align-items: center;
    }
    .iniziosito{
        flex-direction: column;
    }

    .hero-deiparchi{
        flex-direction: column;
        align-items: center;
        margin: 0%;
        padding: 0%;
        max-width: 90%
    }
    .hero-deiparchi h2{
        margin: 0px;
        margin-top: 15px;
    }
    .hero-deiparchi p{
        padding: 0%;
    }
    .freccia-parchi{
        padding: 20px;
        margin: 0%;
    }

    .cardparchi .grid {
        width: 100%;
        max-width: 320px;
        height: auto;
    }
    .cardparchi .grid img {
        width: 100%;
        height: auto;
    }
    .cardparchi .grid p {
        font-size: 20px;
    }

    .cardparchi a.grid {
        text-decoration: none;
        color: inherit;
    }
    
    .cardparchi a.grid:hover {
        text-decoration: underline;
    }


    .testo-iniziale-attività{
        flex-direction: column;
        align-items: center;
        margin: 0%;
        padding: 0%;
        max-width: 90%
    }
    .testo-iniziale-attività h2{
        margin: 0%;
        padding: 0%;
        margin-top: 15px;
        font-size: 45px;
    }
    .associate{
        font-size: 45px;
    }

    .escursioni{
        flex-direction: column;
        align-items: center;
        margin: 0%;
        padding: 0%;
        max-width: 90%
    }
    .escursioni h3{
        margin: 0%;
        padding: 0%;
        margin-top: 40px;
    }
    .imgtrekking{
        max-width: 100%;
    }

    .visiteguidate{
        flex-direction: column;
        align-items: center;
        margin: 0%;
        padding: 0%;
        max-width: 90%
    }
    .visiteguidate h3{
        margin: 0%;
        padding: 0%;
        margin-top: 40px;
    }
    .imgguida{
        max-width: 100%;
    }



    .ariaaperta{
        font-size: 45px;
    }
    .arrampicata{
        flex-direction: column;
        align-items: center;
        margin: 0%;
        padding: 0%;
        max-width: 90%
    }
    .arrampicata h3{
        margin: 0%;
        padding: 0%;
        margin-top: 40px;
        font-size: 30px;
    }
    .arrampicata img{
        max-width: 100%;
        width: 100%;
    }


    .bike{
        flex-direction: column;
        align-items: center;
        margin: 0%;
        padding: 0%;
        max-width: 90%
    }
    .bike h3{
        margin: 0%;
        padding: 0%;
        margin-top: 60px;
        font-size: 30px;
    }
    .bike img{
        max-width: 100%;
    }



    .canoa{
        flex-direction: column;
        align-items: center;
        margin: 0%;
        padding: 0%;
        max-width: 90%
    }
    .canoa h3{
        margin: 0%;
        padding: 0%;
        max-width: 100%;
        margin-top: 60px;
        font-size: 30px;
    }
    .canoa img{
        max-width: 100%;
    }


    .scii{
        flex-direction: column;
        align-items: center;
        margin: 0%;
        padding: 0%;
        max-width: 90%
    }
    .scii h3{
        margin: 0%;
        padding: 0%;
        max-width: 100%;
        margin-top: 60px;
        font-size: 30px;
    }
    .scii img{
        max-width: 100%;
    }

    .bird{
        flex-direction: column;
        align-items: center;
        margin: 0%;
        padding: 0%;
        max-width: 90%
    }
    .bird h3{
        margin: 0%;
        padding: 0%;
        margin-top: 40px;
    }
    .imgbird{
        max-width: 100%;
    }


    .borghi{
        flex-direction: column;
        align-items: center;
        margin: 0%;
        padding: 0%;
        max-width: 90%
    }
    .borghi h3{
        margin: 0%;
        padding: 0%;
        margin-top: 40px;
    }
    .imgborghi{
        max-width: 100%;
    }


    .hero-in-prc{
        font-size: 30px;
    }
    .testo-in-prc h3{
        font-size: 25px;
    }
    .testo-in-prc p{
        max-width: 100%;
        margin-left: 0px;
    }


    .lista-parchi{
        flex-direction: column;
    }
    .lista-parchi h3{
        font-size: 30px;
    }
    .lista-parchi ul{
        flex-direction: column;
        text-decoration: underline;
    }

    footer{
        text-decoration: underline;
    }
}